<!DOCTYPE html>
<section>
    <div>
        <img class="img-login" src="assets/img/ava.jpg" alt="logo"/>
        <h3>Connexion</h3>
        <form ng-submit="loginctrl.submit()">

            <div class="input-field col s6">
                <input id="mail" class="validate" name="email" ng-model="loginctrl.user.mail" required type="email">
                <label for="mail">Email</label>
            </div>

            <div class="input-field col s12">
                <input id="password" ng-model="loginctrl.user.password" type="password" class="validate" required type="password">
                <label for="password">Password</label>
            </div>

            <center>
                <button type="submit" class="waves-effect waves-light btn ">
                    <span ng-show="!loginctrl.asked">Login</span>
                    <span ng-show="loginctrl.asked">Asking Allah.....</span>
                </button>
            </center>
        </form>
    </div>
</section>
